@model IEnumerable<News.Data.Posts>
@using News.Areas.Admin.Models;

@using Santhos.Web.Mvc.BootstrapFlashMessages

@{    
    ViewBag.Title = "Manager posts";

    WebGrid grid = null;

    if (Model != null)
    {
        grid = new WebGrid(source: Model, rowsPerPage: OptionModel.PostsPerPage  > 0 ? OptionModel.PostsPerPage : 15);
    }
}
<div class="row">
    @PostHelpers.DisplaySearch("Posts", "post")
    <div class="col-lg-12">
        @Html.FlashMessages(true)
    </div>
    <div class="col-lg-12">
        <ul class="subsubsub">
            <li class="all"><a href="Index?post_type=post" class="current">All <span class="count"></span></a> |</li>
            <li class="publish"><a href="Index?post_status=publish&amp;post_type=post">Published <span class="count">(@PostModel.CountType("publish", "post"))</span></a> |</li>
            <li class="draft"><a href="Index?post_status=draft&amp;post_type=post">Draft <span class="count">(@PostModel.CountType("draft", "post"))</span></a></li>
        </ul>
        <form method="post" action="~/admin/post/DeleteList">
            <input type="hidden" value="batchAction" name="mode" />
            @AntiForgery.GetHtml()
            <div class="tablenav">
                <div class="pull-left">
                    <div class="dropdown">
                        <button class="btn btn-default btn-sm" type="button" id="dd-menu" data-toggle="dropdown">
                            Action <span class="caret"></span>
                        </button>
                        <div class="dropdown-menu" role="menu">
                            <div role="presentation">
                                <a href="~/admin/post/create" class="btn btn-link">
                                    <span class="glyphicon glyphicon-new-window"></span> Add new
                                </a>
                            </div>
                            <div role="presentation">
                                <button class="btn btn-link" type="submit" value="btnDelAll" id="deleteActionRun" role="menuitem" tabindex="-1">
                                    <span class="glyphicon glyphicon-remove"></span> Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pull-right">
                    <p class="description">Have all @PostHelpers.CountItems(grid.TotalRowCount)</p>
                </div>
            </div>
            @{

                @grid.GetHtml(tableStyle: "table table-hover widefat",
                columns:
                    grid.Columns(
                                grid.Column(format: @<input type="checkbox" name="actionDelete" value="@item.PostID" />, style: "check-column"),
                                grid.Column(format: @<a href="~/admin/post/edit/@item.Name">@item.Title</a>, header: "Title", columnName: "Title"),
                                grid.Column(format: @<p>@PostHelpers.LoadTerms(item.Category, item.Name, "category")</p>, header: "Categories", style: "column-categories"),
                                grid.Column(format: @<p>@PostHelpers.LoadTerms(item.Category, item.Name, "tag")</p>, header: "Tags", style: "column-tags"),
                                grid.Column(format: @<text><strong><a class="post-com-count" href="~/admin/comment?p=@item.PostID"><span class="comment-count">@item.CommentCount</span></a></strong></text>, header: "Comment", style: "comment_count"),
                                grid.Column(format: @<text>@PostHelpers.FormatDatePost(item)</text>, header: "Date", columnName: "Created", style: "column-date")
                                                                              ),
                firstText: "First",
                lastText: "Last",
                nextText: "Next",
                previousText: "Previous",
                mode: WebGridPagerModes.All
            )
            }
        </form>
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/gepapixel.js"></script>    
    <script type="text/javascript">
        $(function () {
            $('.chooseimage').click(function (e) {
                e.preventDefault();
                $('div').removeClass('choose-image-border');

                $('img').removeClass('chon-hinh-nay');

                var id = "#image-" + $(this).attr("id");
                $(id).addClass("choose-image-border");
                $(this).addClass("chon-hinh-nay");
            });

            $('.chooseimage').dblclick(function (e) {
                e.preventDefault();
                var t = $('.chon-hinh-nay').attr("alt");
                var file = '<img alt = "' + t + '" src="/uploads/medium/' + t + '"/>';

                file += '<input type = "hidden" name="image-choose" value = "' + $('.chon-hinh-nay').attr("id") + '"/>';

                $('#imageDaChon').html(file);
            });


            $('#get_image_file_path').click(function (e) {
                e.preventDefault();
                var t = $('.chon-hinh-nay').attr("alt");
                var file = '<img alt = "' + t + '" src="/uploads/medium/' + t + '"/>';

                file += '<input type = "hidden" name="image-choose" value = "' + $('.chon-hinh-nay').attr("id") + '"/>';

                $('#imageDaChon').html(file);
            });

        })
    </script>

}

