@model News.Data.Comments
@using Santhos.Web.Mvc.BootstrapFlashMessages
@using News.Areas.Admin.Models


@{
    ViewBag.Title = "Edit comment";

    //set date post
    int month = DateTime.Now.Month;
    int day = DateTime.Now.Day;
    int year = DateTime.Now.Year;

    int hour = DateTime.Now.Hour;
    int minutes = DateTime.Now.Minute;
}
<div class="row">
    <div class="col-lg-12">
        <h3>Edit Comment</h3>
    </div>
    <div class="col-lg-12">
        @Html.FlashMessages(true)
    </div>
    <form name="post" method="post">
        <div class="col-md-9">
            @AntiForgery.GetHtml()
            @Html.ValidationSummary(true)
            <input type="hidden" name="CommentID" value="@Model.CommentID" />
            <input type="hidden" name="PostID" value="@Model.PostID" />
            <input type="hidden" name="Parent" value="@Model.CommentParent" />
            <input type="hidden" name="Agent" value="@Model.Agent" />
            <input type="hidden" name="Type" value="comment" />

            <input id="UserID" name="UserID" value="1" type="hidden">
            <div class="accordion-container">
                <br />
                <div class="form-group">
                    <div class="col-md-3">
                        <label for="AuthorName" class="control-label">Author Name</label>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control" type="text" id="AuthorName" name="AuthorName" value="@Model.AuthorName" />
                        @Html.ValidationMessage("AuthorName")
                    </div>
                </div>
                <br /><br />
                <div class="form-group">
                    <div class="col-md-3">
                        <label for="AuthorEmail" class="control-label">E-mail</label>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control" type="text" id="AuthorEmail" name="AuthorEmail" value="@Model.AuthorEmail" />
                        @Html.ValidationMessage("AuthorEmail")
                    </div>
                </div>

                <br /><br />
                <div class="form-group">
                    <div class="col-md-3">
                        <label for="AuthorUrl" class="control-label">URL</label>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control" type="text" id="AuthorUrl" name="AuthorUrl" value="@Model.AuthorUrl" />
                        @Html.ValidationMessage("AuthorUrl")
                    </div>
                </div>
                <br /><br />
            </div>
            <br />
            <div class="form-group ">
                <div>
                    <textarea id="Content" class="form-control" name="CommentContent" required>@Html.Raw(Model.CommentContent)</textarea>
                </div>
            </div>

            <div class="form-group ">
                <label></label>
                <div>
                    <input class="btn btn-primary" type="submit" name="Update" value="Update" />
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="accordion-container">
                <div id="statusPost" class="form-group">
                    <h4>Status</h4>
                    <div class="misc-pub-section misc-pub-comment-status" id="comment-status-radio">
                        @{
                        string a = string.Empty, w = string.Empty, s = string.Empty;
                        if (Model.Approved == "1")
                        {
                            a = "checked='checked'";
                        }
                        if (Model.Approved == "0")
                        {
                            w = "checked='checked'";
                        }
                        if (Model.Approved == "spam")
                        {
                            s = "checked='checked'";
                        }
                        }
                        <label class="approved"><input type="radio" @a name="Approved" value="1">Approved</label><br>
                        <label class="waiting"><input type="radio" @w name="Approved" value="0">Pending</label><br>
                        <label class="spam"><input type="radio" @s name="Approved" value="spam">Spam</label>
                    </div>
                </div>
                <div id="visibilityPost" class="form-group">
                    <div class="misc-pub-section curtime misc-pub-curtime">
                        <span id="timestamp">Date: <b>@Convert.ToDateTime(Model.DateCreated).ToString("dd/MM/yyyy @ hh:mm tt")</b></span>
                    </div>
                    <div>
                        @PostHelpers.DisplayMonth(month)
                        <input type="text" value="@day" name="dd" style="width:20px;" />,
                        <input type="text" value="@year" name="yy" style="width:35px;" /> @@
                        <input type="text" value="@hour" name="hh" style="width:20px;" /> :
                        <input type="text" value="@minutes" name="mi" style="width:20px;" />
                    </div>
                    <br />
                    <div class="misc-pub-section misc-pub-response-to">
                        Comment in post: <b>
                            @{
                            var p = CommentModel.getPostofComment((int)Model.CommentID);
                            if (p != null)
                            {
                                if (p.Type == "post")
                                {
                    <a href="~/admin/post/edit/@p.Name">@p.Title</a>
                                }
                                else if (p.Type == "product")
                                {
                    <a href="~/admin/product/product?mode=edit&product_name=@p.Name">@p.Title</a>
                                }
                            }
                            }
                        </b>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>
@section scripts{
    <script src="~/Scripts/gepapixel.js"></script>

    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/ckfinder/ckfinder.js"></script>
}