@model IEnumerable<News.Data.Posts>
@using News.Areas.Admin.Controllers.Components
@using Santhos.Web.Mvc.BootstrapFlashMessages
@{
    ViewBag.Title = "Index";

    var posts = Util.FormatDataForGird(Model, ViewBag.PagesChild);
    var grid = new WebGrid(source: posts, rowsPerPage: 10);
}
<div class="row">
    @PostHelpers.DisplaySearch("Pages", "page")
    <div class="col-lg-12">
        @Html.FlashMessages(true)
    </div>
    <div class="col-md-12">
        <form method="post" action="~/admin/page/DeleteList">
            @AntiForgery.GetHtml()
            @{

                <div class="tablenav">
                    <div class="pull-left">
                        <div class="dropdown">
                            <button class="btn btn-default btn-sm" type="button" id="dd-menu" data-toggle="dropdown">
                                Action <span class="caret"></span>
                            </button>

                            <div class="dropdown-menu" role="menu">
                                <div role="presentation">
                                    <a href="~/admin/page/create" class="btn btn-link">
                                        <span class="glyphicon glyphicon-new-window"></span> Add new
                                    </a>
                                </div>

                                <div role="presentation">
                                    <button class="btn btn-link" type="submit" value="btnDelAll" id="deleteActionRun" role="menuitem" tabindex="-1">
                                        <span class="glyphicon glyphicon-remove"></span> Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right ">
                        <p class="description">Have all @PostHelpers.CountItems(grid.TotalRowCount)</p>
                    </div>
                </div>



                @grid.GetHtml(tableStyle: "table table-hover widefat",
                columns:
                    grid.Columns(
                                grid.Column(format: @<input type="checkbox" name="actionDelete" value="@item.PostID" />, style: "check-column"),
                                grid.Column("Title", "Title", format: @<a href="~/admin/page/edit/@item.Name">@item.Title</a>),
                                grid.Column("DateCreated", "Date created", format: @<text>@PostHelpers.FormatDatePost(item)</text>, style: "column-date")
                                                                                      ),
                                                                              firstText: "First",
                                                                              lastText: "Last",
                                                                              nextText: "Next",
                                                                              previousText: "Previous",
                                                                              mode: WebGridPagerModes.All
                                                                          )
            }

        </form>
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/gepapixel.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.chooseimage').click(function (e) {
                e.preventDefault();
                $('div').removeClass('choose-image-border');

                $('img').removeClass('chon-hinh-nay');

                var id = "#image-" + $(this).attr("id");
                $(id).addClass("choose-image-border");
                $(this).addClass("chon-hinh-nay");
            });

            $('.chooseimage').dblclick(function (e) {
                e.preventDefault();
                var t = $('.chon-hinh-nay').attr("alt");
                var file = '<img alt = "' + t + '" src="/uploads/medium/' + t + '"/>';

                file += '<input type = "hidden" name="image-choose" value = "' + $('.chon-hinh-nay').attr("id") + '"/>';

                $('#imageDaChon').html(file);
            });


            $('#get_image_file_path').click(function (e) {
                e.preventDefault();
                var t = $('.chon-hinh-nay').attr("alt");
                var file = '<img alt = "' + t + '" src="/uploads/medium/' + t + '"/>';

                file += '<input type = "hidden" name="image-choose" value = "' + $('.chon-hinh-nay').attr("id") + '"/>';

                $('#imageDaChon').html(file);
            });

        })
    </script>

}


